$fontColor: #272c30;
$fontSize: 14px;
$fontFamily: Roboto, Arial, sans-serif;
$fontWeight: normal;
$navPanelBgColor: #263649;
$navPanelWidth: 240px;
$menuLinkColor: #7e9eb9;
$infoAside: 390px;
$border: 1px solid #e6eaee;