@import '_variables';
@import '_fonts';
@import '_reset';

.app {
    display: flex;
}

/* nav panel  */

.nav-panel {
    background-color: $navPanelBgColor;
    min-width: $navPanelWidth;
    padding: 25px 0;
    position: relative;
}

.menu-btn {
    margin: 0 20px;
    display: inline-block;
    cursor: pointer;
    span {
        height: 3px;
        width: 21px;
        background-color: #577594;
        display: block;
        margin-bottom: 4px;
        &:last-child {
            margin-bottom: 0px;
        }
    }
}

.navigation {
    margin-top: 27px;
    .navigation-list>li>a {
        display: block;
        height: 50px;
        padding: 17px 20px 17px 50px;
        color: $menuLinkColor;
        position: relative;
        transition: background-color 150ms ease;
        &:hover {
            background-color: #2e4157;
        }
        &::before {
            content: "";
            background-image: url(../images/sprite.png);
            background-repeat: no-repeat;
            position: absolute;
            top: 15px;
            left: 20px;
        }
    }
}

.nav-collapsed {
    min-width: 60px;
    overflow: hidden;
    transition: all 150ms ease;
    .navigation-list>li>a,
    .logout a {
        font-size: 0;
        padding: 0;
    }
    .navigation-sublist {
        display: none;
    }
}

.navigation-list>li:nth-child(1)>a::before {
    background-position: 0px 0px;
    width: 17px;
    height: 18px;
}

.navigation-list>li:nth-child(2)>a::before {
    background-position: -27px 0px;
    width: 17px;
    height: 17px;
}

.navigation-list>li:nth-child(3)>a::before {
    background-position: -54px 0px;
    width: 21px;
    height: 19px;
}

.navigation-list>li:nth-child(4)>a::before {
    background-position: -85px 0px;
    width: 15px;
    height: 17px;
}

.navigation-sublist {
    padding-left: 60px;
    li {
        margin-bottom: 25px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    a {
        display: block;
        color: $menuLinkColor;
        &::before {
            content: "";
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: $menuLinkColor;
            display: inline-block;
            vertical-align: middle;
            margin-right: 8px;
        }
    }
}

.logout {
    position: absolute;
    bottom: 25px;
    left: 20px;
    & a {
        color: #98aec5;
        position: relative;
        padding-left: 30px;
        &::before {
            content: "";
            width: 19px;
            height: 15px;
            background: url(../images/sprite.png) -110px 0px;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}



/* info panel */

.info-panel {
    width: 100%;
    padding: 60px 30px 30px 30px;
    display: flex;
    position: relative
}

.nav-panel-toggler {
    position: absolute;
    top: 22px;
    left: 30px;
    i {
        color: $menuLinkColor;
        opacity: .5;
        font-size: 24px;
        cursor: pointer;
    }
}

.rotate {
    transform: rotateY(180deg);
}

.hidden {
    display: none;
}

.info-aside {
    max-width: $infoAside;
    width: 100%;
}

.info-center {
    width: 100%;
    margin-left: 20px;
}

.offset-border {
    padding: 30px;
    border: $border;
}

.info__head,
.info__data,
.info__notes {
    @extend .offset-border;
}

.info__data,
.info__notes {
    border-top: 0;
}

.info__title {
    font-size: 24px;
    font-weight: 500;
}

.states {
    display: flex;
    margin: 10px 0 12px;
    .state {
        font-size: 11px;
        text-transform: uppercase;
        font-weight: 500;
        display: inline-block;
        padding: .45em 1em;
        color: #fff;
        border-radius: 2px;
        letter-spacing: 1px;
        &-confirmed {
            background-color: #70c756;
            margin-right: 10px;
        }
        &-ghost {
            background-color: #bdc2c8;
        }
    }
}

.info__published,
.info__published a {
    color: #91a5b8
}

.data-field {
    display: flex;
    margin-bottom: 15px;
    span {
        font-weight: 500;
        &.data-sale {
            color: #70c756;
            font-weight: bold;
        }
        &.data-price {
            font-weight: bold;
        }
        &.data-num {
            margin-left: 15px;
        }
        &.num-up i {
            color: #70c756;
        }
        &.num-down i {
            color: #ed4e67;
        }
        &.data-damage {
            display: flex;
            align-items: center;
            i {
                font-size: 24px;
                color: #6699ea;
                margin-left: 7px;
            }
        }
        &.date-format {
            color: #ed4e67;
            background: #fce5e8;
            display: inline-block;
            padding: 4px 10px;
            border-radius: 3px;
            margin-left: -10px;
            margin-bottom: 10px;
        }
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.data-field>span:first-child {
    width: 50%;
    margin-right: 10px;
}

.data-date span {
    display: block;
}

.note-text {
    font-weight: bold;
}

.post-form {
    position: relative;
    margin: 20px 0 10px;
    .post-form__input {
        width: 100%;
        outline: none;
        padding: 11px 65px 21px 20px;
        font-size: 15px;
        border: 1px solid #eceff1;
        border-radius: 2px;
    }
    .post-form__btn {
        position: absolute;
        top: calc(50% - 17.5px);
        right: 12px;
        width: 35px;
        height: 35px;
        background: #fff url(../images/telegram.png) no-repeat center;
        border: 0;
        border-radius: 50%;
        font-size: 0;
        box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
        outline: none;
        transition: transform 350ms ease;
        cursor: pointer;
        &:hover {
            transform: rotate(360deg);
        }
    }
}

.post-block {
    height: 235px;
    overflow: auto;
}

.post {
    background: #f1f6ff;
    padding: 11px 20px;
    border-radius: 2px;
    margin-bottom: 5px;
    margin-right: 18px;
    &:last-child {
        margin-bottom: 0;
    }
    &__info {
        font-size: 12px;
        font-weight: bold;
        color: #90a4ae;
        margin-bottom: 5px;
    }
}

.tabs__list {
    display: flex;
    border-bottom: 2px solid #e6eaee;
    margin-bottom: 33px;
    li {
        margin-right: 40px;
        &:last-child {
            margin-right: 0;
        }
        span {
            font-size: 16px;
            font-weight: 500;
            position: relative;
            padding-bottom: 12px;
            display: inline-block;
            cursor: pointer;
            transition: color 150ms ease;
            &::after {
                content: "";
                position: absolute;
                bottom: -2px;
                left: 0;
                height: 2px;
                width: 100%;
                transition: background-color 150ms ease;
            }
            &:hover::after,
            &.tab-active::after {
                background-color: #6699ea;
            }
        }
    }
}

.data-form {
    display: flex;
    align-items: flex-end;
    fieldset {
        border: 0;
        position: relative;
        margin-right: 30px;
        &:last-child {
            margin-right: 0;
        }
        .caret {
            position: absolute;
            z-index: 1;
            right: 20px;
            top: 30px;
            color: #91a5b8;
        }
    }
    .field-name {
        display: block;
        font-size: 13px;
        margin-bottom: 5px;
    }
    &__btn {
        color: #fff;
        background: #6699ea;
        border: 0;
        font-size: 16px;
        padding: .6em 0;
        width: 160px;
        border-radius: 2px;
        box-shadow: 0px 3px 10px 0px #e4e4e4;
        cursor: pointer;
        transition: box-shadow 250ms ease;
        &:hover {
            box-shadow: 0px 3px 15px 3px #e4e4e4;
        }
    }
}

.data-form__field {
    width: 250px;
    height: 34px;
    border: 1px solid #eceff1;
    border-radius: 2px;
    background: transparent;
    outline: none;
    color: #90a4ae;
    padding: 0 15px;
}

.data-form__field {
    position: relative;
    span {
        padding: 8px 0;
        display: inherit;
    }
    .period-list {
        position: absolute;
        width: calc(100% + 2px);
        background: #fff;
        top: 100%;
        left: -1px;
        display: none;
        border: 1px solid #e6eaee;
        z-index: 1;
        li {
            padding: 0 15px;
            cursor: pointer;
            height: 34px;
            line-height: 34px;
            transition: background-color 150ms ease;
            &:first-child {border-top: 0;}
            &:hover {background-color: #e3f2fd;}
        }
    }
}

.table-wrapper {
    overflow: auto;
}

.data-table {
    border: 1px solid #e6eaee;
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
    th,
    td {
        text-align: left;
        border: 1px solid #e6eaee;
    }
    th {
        border-top: 0;
        padding: 15px 20px;
    }
    td {
        padding: 11px 20px;
    }
}



/* custom scroll */

.mCSB_inside>.mCSB_container {
    margin-right: 0;
}

.mCSB_scrollTools .mCSB_draggerRail {
    width: 6px;
    background-color: #f2f6f9;
    margin-right: 0 !important;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    width: 6px;
    background-color: #c4d1de;
    margin-right: 0 !important;
}

.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    background-color: #c4d1de;
}

.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar {
    background-color: #c4d1de;
}

@media (max-width: 1280px) {
    .info-panel {
        flex-direction: column;
    }
    .info-aside {
        max-width: 100%;
        margin-bottom: 30px;
    }
    .info-center {
        margin-left: 0;
    }
}

@media (max-width: 1020px) {
    .data-form {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        fieldset {
            margin: 20px 0 0 0;
            &:first-child {
                margin: 0;
            }
        }
        .field-name {
            text-align: center;
        }
    }
}

@media (max-width: 880px) {
    .tabs__list li {
        margin-right: 20px;
    }
    .tabs__list li span {
        font-size: 14px;
    }
    .data-table {
        td,
        th {
            padding: 10px;
        }
    }
}

@media (max-width: 768px) {
    .nav-panel {
        min-width: 60px;
    }
    .navigation .navigation-list>li>a,
    .logout a {
        font-size: 0;
        padding: 0;
    }
    .navigation-sublist,
    .menu-btn {
        display: none;
    }
    .navigation {
        margin-top: 0;
    }
}

@media (max-width: 580px) {
    .tabs__list {
        flex-wrap: wrap;
        justify-content: center;
        span:hover {
            color: #6699ea;
        }
        span::after {
            display: none;
        }
    }
    .info-panel {
        width: calc(100% - 60px);
    }
    .info-width-offset {
        width: calc(100% - 60px);
    }
    .info-width-100 {
        width: 100%;
    }
}

@media (max-width: 380px) {
    .data-field {
        flex-direction: column;
        align-items: center;
    }
    .data-field>span:first-child {
        width: auto;
        margin: 0 0 10px 0;
    }
    .data-field span.data-num {
        margin: 10px 0 0 0;
    }
    .data-field span.date-format {
        margin-left: 0;
    }
    .data-form fieldset,
    .ui-selectmenu-button.ui-button,
    .data-form__field {
        width: 100%;
    }
    .data-form fieldset:last-child {
        text-align: center;
    }
    .states {
        flex-direction: column;
        align-items: flex-start;
    }
    .states .state-confirmed {
        margin: 0 0 10px 0;
    }
}